# NodeMCU and Arduino IDE files
*.bin
*.elf
*.hex
*.map
*.d
*.o
*.a
*.so

# Build directories
build/
dist/

# PlatformIO
.pio/
.vscode/

# Arduino IDE
*.ino
*.cpp
*.h
*.o
*.a
*.lib

# Firebase-related files
firebase.json
.firebaserc

# Other IDEs and editor files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite
*.db
